<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.txt.mydemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabLayoutActivity" />
        <activity android:name=".ViewDragHelperActivity" />
        <activity android:name=".VideoActivity" />
        <activity
            android:name=".zhiHuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".SlideCutActivity" />
        <activity android:name=".ViewStyleActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".AsyncTaskActivity"/>
        <activity android:name=".AnnotationActivity"/>
        <activity android:name=".HorizontalListActivity"/>
        <activity android:name=".HttpActivity"/>
        <activity android:name=".ListPackageInfoActivity"/>
        <activity android:name="com.txt.wxmvp.WXActivity"/>
        <activity android:name=".ViewPagerGalleryActivity"/>
        <activity android:name=".Service1Activity"/>
        <activity android:name=".Service2Activity"/>
        <activity android:name=".AidlActivity"/>
        <activity android:name=".AidlBinderPoolActivity"/>
        <activity android:name=".MessengerActivity"/>
        <activity android:name=".FragmentActivity"/>
        <activity android:name=".MyViewPagerActivity"/>
        <activity android:name=".RecycleViewActivity"/>
        <activity android:name=".CustomViewActivity"/>
        <activity android:name=".StickyHeaderListActivity"/>

        <service android:name="com.txt.service.MyIntentService" />
        <service android:name="com.txt.service.MyService"/>
        <service android:name="com.txt.service.MyAidlService"
            android:process=":remote"/>
        <service android:name="com.txt.service.MyAidlBinderPoolService"
                 android:process=":remote"/>
        <service android:name="com.txt.service.MyMessengerService"
                 android:process=":remote"/>

    </application>

</manifest>
